.main-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6em;
}
.tags-tab-links {
    margin: 1em;
    padding: 1em;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.tags-tab-links > li {
    display: block;
    margin: 1em;
    text-align: center;
}

.tags-tab-link {
    padding: 0.5em;
    text-decoration: none;
}

.tags-tab-links {
    background-color: #00000000;
    border-style: solid;
    border-width: 0.2em;
    border-color: #0288d1;
    border-radius: 0.2em;
}


.tags-tab-link {
    color: #0288d1;
    background-color: #00000000;
    border: #0288d1;
    border-radius: 0.2em;
    transition: background-color 0.8s;
    font-size: 1.5em;
}

.tags-tab-link:hover {
    background-color: rgb(179, 229, 252);
}