<footer class="footer">
    <div class="copyright">
        &copy; 
        <span itemprop="copyrightYear"><%= config.year %></span>
        <span class="author" itemprop="copyrightHolder"><%= config.owner %></span>
        未经特殊声明本站所有内容均按照
        <a href="<%= config.licenseLink %>"><%= config.licenseName %></a>
        协议发布。
    </div>
</footer>