<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/css/mainstyle.css">
    <link rel="stylesheet" href="/src/css/works.css">
    <link rel="stylesheet" href="/src/css/tags.css">
    <link rel="stylesheet" href="/src/css/csshake.css">

    <title>主页——YJZX</title>
</head>

<body>
    <main class="main">

        <nav class="site-nav">
        <div class="site-meta shake-slow">
           <a href="/" class="brand" rel="start">
                <span class="site-title">YJZX</span>
           </a>
       </div>
       <ul class="main-menu">
           
           <li><a href="/" class="shake-little">HOME</a></li>
           
           <li><a href="/work" class="shake-little">WORK</a></li>
           
           <li><a href="https://yjzxlclub.github.io/" class="shake-little">BLOG</a></li>
           
           <li><a href="/about" class="shake-little">ABOUT</a></li>
           
       </ul>
   </nav>

    <div class="main-container">
        <!-- A sigle page -->
        <h1>主页</h1>
        <p>使用上方导航栏进行浏览！</p>
    </div>

    <footer class="footer">
    <div class="copyright">
        &copy; 
        <span itemprop="copyrightYear">2021</span>
        <span class="author" itemprop="copyrightHolder">Float</span>
        未经特殊声明本站所有内容均按照
        <a href="https://creativecommons.org/licenses/by-sa/4.0/"></a>
        协议发布。
    </div>
</footer>
    
    </main>
</body>