<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/css/mainstyle.css">
    <link rel="stylesheet" href="/src/css/works.css">
    <link rel="stylesheet" href="/src/css/tags.css">
    <link rel="stylesheet" href="/src/css/csshake.css">

    <title><%= page.title %></title>
</head>