<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="mainstyle.css">
    <link rel="stylesheet" href="works.css">
    <link rel="stylesheet" href="csshake.css">

    <title><%= page.title %></title>
</head>